.box1{
    display: flex;
   backface-visibility: hidden;
   font-size: 20px;
   background: url("../../img/mao.jpg") no-repeat;
   background-size: 100% 100%;
}
img{
    height: 200px;
    width: 200px;
}