html,
body,
#app,
.home {
	margin: 0;
	padding: 0;
	overflow: hidden;
	height: 100%;
	width: 100%;
	background-color: transparent;
}
// html{
// 	font-size: 13.333333vw;
// 	@media only screen and(max-width:375px){
// 		font-size: 20px;
// 	}
// 	@media only screen and(min-width:750px){
// 		font-size: 16px;
// 	}
// 	body{
// 		font-size: 0.16rpx;
// 	}
// }
p,
i,
ul,
ol,
table,
h1,
h2,
h3,
h4,
h5,
h6,
button {
	margin: 0;
	padding: 0;
	list-style: none;
	font-style: none;
}


.h100 {
	height: 100%;
}

.w100 {
	width: 100%;
}

//flex布局
.fx {
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
}

.fx_col {
	display: flex;
	flex-direction: column;
}

.fx_w {
	flex-wrap: wrap;
}

.fx_nw {
	flex-wrap: nowrap;
}



.fcc {
	justify-content: center;
	align-items: center;
}

.jcc {
	justify-content: center;
}

.jcb {
	justify-content: space-between;
}

.jcee {
	justify-content: space-evenly;
}

.jca {
	justify-content: space-around;
}

.jcs {
	justify-content: flex-start;
}

.jce {
	justify-content: flex-end;
}

.aic {
	align-items: center;
}

.ais {
	align-items: flex-start;
}

.aie {
	align-items: flex-end;
}

.aca {
	align-content: flex-start;
}

.acc {
	align-content: center;
}

.ace {
	align-content: flex-end;
}

.asc {
	align-self: center;
}

/* position */
.pr {
	position: relative;
}

.pa {
	position: absolute;
}

.pf {
	position: fixed;
}

//文字样式
.fc {
	text-align: center;
	vertical-align: center;
}

.fb {
	font-weight: bold;
}

.wnw {
	white-space: nowrap;
}
.fe{
	white-space: nowrap;
	overflow:hidden ;
	text-overflow: ellipsis;
}

/* 怪异盒子模型 */
.box {
	box-sizing: border-box;
}

.ib {
	display: inline-block;
}

.if {
	display: inline-flex;
}
.br50{
		border-radius: 50%;
	}
/*
    margin padding fontSize width 通用样式表
    免去你每次重写样式的烦恼
    marked by Jacky
*/
@for $i from 0 through 200 {

	/* padding */
	.p_#{$i} {
		padding: (1rpx*$i*$layoutPixel);
	}
	
	.pt_#{$i} {
		padding-top: (1rpx*$layoutPixel*$i);
	}
	
	.bpt_#{$i} {
		padding-top: (1rpx*20*$i);
	}

	.pr_#{$i} {
		padding-right: (1rpx*$layoutPixel*$i);
	}
	.bpr_#{$i} {
		padding-right: (1rpx*20*$i);
	}
	
	.pb_#{$i} {
		padding-bottom: (1rpx*$layoutPixel*$i);
	}
	.bpb_#{$i} {
		padding-bottom: (1rpx*20*$i);
	}

	.pl_#{$i} {
		padding-left: (1rpx*$layoutPixel*$i);
	}
	
	.bpl_#{$i} {
		padding-left: (1rpx*20*$i);
	}

	/* margin */
	.m_#{$i} {
		margin: (1rpx*$layoutPixel*$i);
	}

	.mt_#{$i} {
		margin-top: (1rpx*$layoutPixel*$i);
	}
	
	.bmt_#{$i} {
		margin-top: (1rpx*20*$i);
	}

	.mr_#{$i} {
		margin-right: (1rpx*$layoutPixel*$i);
	}
	.bmr_#{$i} {
		margin-right: (1rpx*20*$i);
	}

	.mb_#{$i} {
		margin-bottom: (1rpx*$layoutPixel*$i);
	}
	
	.bmb_#{$i} {
		margin-bottom: (1rpx*20*$i);
	}

	.ml_#{$i} {
		margin-left: (1rpx*$layoutPixel*$i);
	}
	.bml_#{$i} {
		margin-left: (1rpx*20*$i);
	}

	.fz_#{$i} {
		//字体大小
		font-size: (1rpx*$layoutPixel*$i);
	}

	/* line-height */
	.lh_#{$i} {
		//行高
		line-height: (1rpx*$layoutPixel*$i);
	}

	.width_#{$i} {
		width: 1rpx*$layoutPixel*$i;
	}
	
	.minw_#{$i} {
		min-width: 1rpx*$layoutPixel*$i;
	}
	.maxw_#{$i} {
		max-width: 1rpx*$layoutPixel*$i;
	}
	
	.height_#{$i} {
		height: 1rpx*$layoutPixel*$i;
	}
	
	.minh_#{$i} {
		min-height: 1rpx*$layoutPixel*$i;
	}
	
	.maxh_#{$i} {
		max-height: 1rpx*$layoutPixel*$i;
	}
	/* 大宽高 */
	.bh_#{$i} {
		height: 20rpx*$i;
	}
	.bw_#{$i} {
		width: 20rpx*$i;
	}
	/* flex */
	.fx_#{$i} {
		flex: $i;
	}
	.fxb_#{$i} {
		flex: 0 0 (1rpx*$layoutPixel*$i);
	}
	/* 圆角 */ 
	.br_#{$i} {
		border-radius: 1rpx*$i*$layoutPixel;
	}

	/* border */
	.bo_#{$i} {
		border: 1rpx*$i solid $baseBorderColor;
	}
	.bob_#{$i} {
		border-bottom: 1rpx*$i solid $baseBorderColor;
	}

	.bol_#{$i} {
		border-left: 1rpx*$i solid $baseBorderColor;
	}

	.bor_#{$i} {
		border-right: 1rpx*$i solid $baseBorderColor;
	}

	.bot_#{$i} {
		border-top: 1rpx*$i solid $baseBorderColor;
	}
	/* 定位 */
	.t_#{$i}{
		top:1rpx*$i*$layoutPixel;
	}
	.bt_#{$i}{
		top:1rpx*$i*20;
	}
	.r_#{$i}{
		right:1rpx*$i*$layoutPixel;
	}
	.bbr_#{$i}{
		right:1rpx*$i*20;
	}
	.b_#{$i}{
		bottom:1rpx*$i*$layoutPixel;
	}
	.bb_#{$i}{
		bottom:1rpx*$i*20;
	}
	.l_#{$i}{
		left:1rpx*$i*$layoutPixel;
	}
	.bl_#{$i}{
		left:1rpx*$i*20;
	}
}

//overflow封装
.flow_h {
	overflow: hidden;
}

.flow_x {
	overflow-y: hidden;
	overflow-x: auto;
}

.flow_y {
	overflow-y: auto;
	overflow-x: hidden;
}

/* 隐藏滚动条 */
.scroll_h {

	/* h5端 */
	.uni-scroll-view {
		&::-webkit-scrollbar {
			display: none;
		}
	}

	/* 微信端 */
	::-webkit-scrollbar {
		display: none;
	}
}