
uni-page-wrapper,page{
	display: flex;
	flex-direction: column;
	background-color: $basebackColor;
	color: $baseColor1;
	font-size: 16px;
	min-height: 100vh;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	font-family: 'Microsoft YaHe', Helvetica, 'STHeiti STXihei', 'Microsoft YaHei', Tohoma, Arial, sans-serif;
	/* 适配安全区域 */
	padding-bottom:constant(safe-area-inset-bottom);/* 兼容 iOS < 11.2 */
	padding-bottom: env(safe-area-inset-bottom);/* 兼容 iOS >= 11.2 */
	uni-page-body{
		flex: 1;
		display: flex;
		overflow: hidden;
		flex-direction: column;
		height: 100%;
		background-color: $basebackColor;
		/* 适配安全区域 */
		padding-bottom:constant(safe-area-inset-bottom);/* 兼容 iOS < 11.2 */
		padding-bottom: env(safe-area-inset-bottom);/* 兼容 iOS >= 11.2 */
	}
}
/* scroll-view 高度统一设置 */
.ptabbar {
	padding-bottom: $tabBarHeight;/* 兼容 iOS < 11.2 */
}
.container{
	padding: 20rpx 10rpx;
}
/* vant-tabBar 样式修改 */
.van-tabbar--safe{
		height: $tabBarHeight !important;
		box-shadow: 0rpx -6rpx 6rpx 0rpx rgba(0,0,0,0.06); 
		border-radius: 30rpx 30rpx 0rpx 0rpx;
		.van-tabbar-item{
			justify-content: flex-start;
			padding-top: 24rpx;
			/* 选中标签颜色 */
			&.van-tabbar-item--active{
				.van-tabbar-item__text{
					color: $baseActive2;
				}
			}
			
		}
		.tabbarItem{
			&:nth-of-type(2){
				.van-tabbar-item{
					padding-top: 0rpx;
					
					.van-tabbar-item__text{
						padding-top: 0rpx;
						font-size: 20rpx;
					}
				}
				image{
					height: 88rpx;
					width: 88rpx;
				}
			}
			image{
				height: 44rpx;
				width: 44rpx;
			}
		}
		.van-tabbar-item__icon{
			margin: 0rpx;
		}
		.van-tabbar-item__text{
			padding-top: 20rpx;
			font-size: 20rpx;
		}
		
}